---
# tasks file for vector-role
- block:
      - name: Get vector distrib
        ansible.builtin.get_url:
          url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-x86_64-unknown-linux-gnu.tar.gz"
          force: true
          dest: "/tmp/vector.tar.gz"
          mode: 0755
      - name: Create dir
        become: true
        file:
          state: directory
          path: "{{ vector_path }}"
          mode: 0755
      - name: Unarchive vector
        become: true
        unarchive:
          copy: false
          src: "/tmp/vector.tar.gz"
          dest: "{{ vector_path }}"
          extra_opts: [--strip-components=2]
          creates: "{{ vector_path }}/bin/vector"
      - name: Copy vector bin
        become: true
        copy:
          src: "{{ vector_path }}/bin/vector"
          dest: "/usr/bin/"
          mode: 0755
          remote_src: yes
      - name: Copy service file
        become: true
        copy:
          src: "{{ vector_path }}/etc/systemd/vector.service"
          dest: "/etc/systemd/system/"
          remote_src: yes
      - name: Create data dir
        become: true
        file:
          state: directory
          path: "{{ vector_data_dir }}"
          mode: 0755
      - name: Create config dir
        become: true
        file:
          state: directory
          path: "/etc/vector"
          mode: 0755
      - name: Configurate Vector
        tags: update_vector_conf
        ansible.builtin.template:
          src: vector_config.j2
          dest: "{{ vector_path }}/config/vector.toml"
          mode: 0755
          validate: vector validate --no-environment --config-toml %s