[sources.stdin_source]
type = "stdin"

[transforms.transform_stdin]
type = "remap"
inputs = [ "stdin_source" ]

[sinks.my_sink_id]
type = "clickhouse"
inputs = [ "transform_stdin" ]
compression = "gzip"
database = "logs"
endpoint = "http://{{ clickhouse }}:8123"
table = "logstable"


